server:
  port: 8082

spring:
  application:
    name: allocation-service

  # Spring Boot 3.x + Config Server (MANDATORY)
  config:
    import: "optional:configserver:"

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
